html, body {
  background-color: rgb(33, 33, 33);
}
body > header {
  background-color: #000000;
}
.qbox {
  background-color: #000000;
}
.qbox-chat .q-who {
  color: #ffffff;
}
.qbox-chat .q-when {
  color: #a1a1a1;
}
.question h6 {
  color: #ffffff;
}
.sideinfobox {
  background-color: rgb(33, 33, 33);
}
.timeline-XL {
  background-color: #000000;
}
.profileboxinfo-box .u-bio {
  color: #ebeced;
}
.p-experience-all {
  background-color: #000000;
}
.profileboxinfo {
  background-color: #bfbfbf;
}
.profileboxinfo-box h1 {
  color: #000000;
}
.profileboxinfo-box .p-bio {
  color: #ebeced;
}
.profileboxinfo-box .p-username-m {
  color: #000000;
}
.p-experience-all h2 {
  background-color: #FFFF00;
}
