html, body {
  background-color: rgb(33, 33, 33);
}
.scrollinfoqaview {
  background-color: rgb(33, 33, 33);;
}
.PREVBTNADDTITLE {
  background-color: #ffffff;
  color: #000000;
}
body > header {
  background-color: #000000;
}
.qbox {
  background-color: #000000;
}
.qbox-chat .q-who {
  color: #ffffff;
}
.qbox-chat .q-when {
  color: #a1a1a1;
}
.question h6 {
  color: #ffffff;
}
.sideinfobox {
  background-color: rgb(33, 33, 33);
}
.timeline-XL {
  background-color: #000000;
}
.profileboxinfo-box .u-bio {
  color: #ebeced;
}
.p-experience-all {
  background-color: #000000;
}
.profileboxinfo {
  background-color: #333333;
}
.profileboxinfo-box h1 {
  color: #ffffff;
}
.profileboxinfo-box .p-bio {
  color: #ebeced;
}
.profileboxinfo-box .p-username-m {
  color: #ffffff;
}
.p-experience-all .p-experience-highlight h2 {
  background-color: #FFFF00;
}
.p-experience-all .p-experience-lists h2 {
  background-color: #00ff00;
}
.p-experience-all .p-experience-roadmap h2 {
  background-color: #fe952e;
}
.p-experience-all .p-experience-productions h2 {
  background-color: #1C8ACC;
}
.p-experience-all .p-experience-tasks h2 {
  background-color: #C554E2;
}
.p-experience-all .p-experience-positions h2 {
  background-color: #f85479;
}
.p-experience-all .p-experience-tasks h3 {
  background-color: #ffffff;
  color: #000000;
}
.p-experience-all .p-experience-positions h3 {
  background-color: #ffffff;
  color: #000000;
}
