body > header {
  width: 100%;
  height: 50px;
  display:block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 99;
  opacity: 1;
}
body > header:hover {
  opacity: 1;
}
footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  overflow: hidden;
  z-index: 99;
}
footer:hover {
  height: 100px;
}
.u-picbox-s {
  width: 30px;
  height: 30px;
}
.u-picbox-xl {
  width: 200px;
  height: 200px;
}
.c-picbox-xl {
  width: 200px;
  height: 200px;
}
.qbox {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 9;
}
.qbox-s {
  width: 28%;
  padding: 0 1%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.i-box-xxl {
  width: 50%;
  height: 480px;
  position: relative;
  display: inline-block;
  padding: 10px 0 10px 0.7%;
  vertical-align: top;

}
.i-box-xxl-2 {
  width: 49%;
  height: 238px;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;

}
.qbox-l {
  width: 70%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.qbox-prep-before {
  width: 40%;
  display: inline-block;
  /* @/* TODO:  */height: 100px;
  background-color: #ffffff;
  top: 420px;
  right: 0px;
  position: absolute;
}
.qbox-prep-out {
  width: 100%;
  display: inline-block;
  background-color: transparent;
  padding-top: 40px;
  height: 1px;
}
.qbox-prep-after {
  width: 40%;
  display: inline-block;
  background-color: #ffffff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
  z-index: 11;
}
.qbox-prep-after:hover {
  opacity: 1;
}
.thetimelinepage {
  padding-top: 50px;
}
.vbox {
  display: inline-block;
  overflow: hidden;
  z-index: 9;
}
.vbox-m {
  width: 70%;
}
.vbox-l-view {
  width: 100%;
  margin-top: 50px;
}
.vbox-audio {
  width: 70%;
  height: 600px;
  margin-top: 50px;
}
.vbox-audio-m {
  width: 100%;
}
.c-resume-timeline {
  width: 100%;
  overflow: scroll;
  height: 500px;
  display: inline-block;
  /* @/* TODO:  */ background-color: #000000b3;
}
.i-box-s {
  width: 320px;
  height: 170px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.i-box-m {
  width: 430px;
  height: 220px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.i-box-xs {
  width: 212px;
  height: 170px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.l-box-s {
  width: 230px;
  height: 280px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.r-box-s {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #ffffff;
  /* @/* TODO:  */ color: #000000;
  display: inline-block;
}
.r-box-s-opened {
  padding: 50px;
  margin: 100px;
  font-size: 25px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #000000;
  /* @/* TODO:  */ color: #ffffff;
  display: inline-block;
}
.slidebox {
  display: inline-block;
  overflow: hidden;
  z-index: 9;
}
.slidebox img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.slidebox-m {
  width: 100%;
  height: 565px;
}
.sideinfobox {
  display: inline-block;
  z-index: 9;
}
.sideinfobox-m {
  width: 70%;
  /* @/* TODO:  */ height: 1000px;
}
.timeline {
  display: inline-block;
}
.timeline-m {
  z-index: 9;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.timeline-XL {
  z-index: 10;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.profileboxinfo {
  display: inline-block;
  width: 100%;
}
.contentprewboxinfo {
  display: inline-block;
  width: 100%;
  position: relative;
}
.profileboxinfo-box {
  display: block;
  padding: 80px 0 80px 0;
  margin: 0 auto;
  text-align: left;
}
.contentprewboxinfo-box {
  display: block;
  padding: 0px 0 80px 0;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 80px;
}
.p-username-m {
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
}
.p-interactions {
  width: 100%;
  height: 20px;
  display: inline-block;
  text-align: center;
}
.p-experience-all {
  width: 100%;
  padding: 70px 0;
}
.p-experience-i {
  width: 100%;
  padding: 50px 0;
  display: inline-block;
 }
.p-experience-highlight {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-lists {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-roadmap {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-productions {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-tasks {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-positions {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.contentprewboxdesc-box {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  /* @/* TODO:  */ height: 500px;
}
.contentprewboxwhat-box {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
.contentprewboxtext-box {
  display: inline-block;
  vertical-align: top;
}
.timelineother {
  z-index: 15;
  position: relative;
  width: 100%;
  /* @/* TODO:  */ background-color: #ffffff;
}
.pageopenintimelinefancy {
  width: 100%;
  overflow: scroll;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 25;
}
.pageopenintimelinefancy .qbox-prep-after {
  width: 30%;
  opacity: 1;
}
.pageopenintimelinefancy .vbox-l-view {
  width: 70%;
  margin-top: 0;
}
.pageopenintimelinefancy .prevtimelinebasicinfo {
  width: 65%;
  padding: 0.2% 2.5%;
}
.pageopenintimelinefancy .contentprewboxinfo-box {
  width: 65%;
  margin: 0;
  padding: 0.2% 2.5%;
}
.pageopenintimelinefancy .contentprewboxtext-box {
  width: 100%;
}
.pageopenintimelinefancy .contentprewboxtext-box > figure {
  display: none;
}
.pageopenintimelinefancy .contentprewboxwhat-box figure {
    height: 130px;
    padding-top: 0px;
    width: 25%;
}
.pageopenintimelinefancy .contentprewboxwhat-box {
    width: 100%;
}
.pageopenintimelinefancy .contentprewboxdesc-box {
  height: 1px;
}
.pageopenintimelinefancy .contentprewboxwhat-box p {
  padding-right: 16%;
  padding-left: 3%;
}
.pageopenintimelinefancy .requirementsprewpage {
  width: 35%;
  padding: 0px 4% 40px 4%;
  display: inline-block;
  text-align: left;
}
.pageopenintimelinefancy .purposesprewpage {
  width: 35%;
  padding: 0px 4% 40px 4%;
  display: inline-block;
  text-align: left;
}
.pageopenintimelinefancy .requirementsprewpage li {
  color: #484848;
  list-style: circle;
  font-size: 17px;
  padding: 3px;
}
.pageopenintimelinefancy .requirementsprewpage p {
  color: #000000;
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}
.pageopenintimelinefancy .purposesprewpage li {
  color: #484848;
  list-style: circle;
  font-size: 17px;
  padding: 3px;
}
.pageopenintimelinefancy .purposesprewpage p {
  color: #000000;
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}
.pageopenintimelinefancy .Whaitbutwhy {
  width: 100%;
  text-align: center;
}
.contentprewboxinfo-box-kindsofTITLE {
  font-size: 23px;
  font-weight: bold;
  padding: 10px 3px;
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
}
.contentprewboxwhat-box .TAGPREWWATHC {
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
}
.CLOSETIMELINEOBJECT {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 50px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}
.resumeothercontents {
  width: 49%;
  padding: 0;
  display: inline-block;
  padding: 10px 0% 6px 0%;;
}
