body > header {
  width: 100%;
  height: 50px;
  display:block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 99;
  opacity: 1;
}
.toolbarRisepic ul {
  width: 100%;
  height: 40px;
  padding: 5px 0 5px 0;
  text-align: center;
  display: inline-block;
}
.toolbarRisepic ul li {
  width: 30%;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
.toolbarRisepic ul li input {
  height: 38px;
  width: 90%;
  vertical-align: middle;
  display: inline-block;
  border: none;
  background-color: #0000001a;
  font-size: 20px;
  color: #00000091;
}
.toolbarRisepic ul .Brandtoolbar img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.toolbarRisepic:hover ul .Brandtoolbar img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.toolbarRisepic ul .Searchbtn img {
  width: 20px;
  height: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.toolbarRisepic:hover ul .Searchbtn img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.toolbarRisepic ul .Searchimput .Searchbtn {
  background-color: #0000001a;
  padding: 10px;
  font-size: 15px;
  vertical-align: middle;
}
.toolbarRisepic:hover ul .Searchbtn {
  background-color: #f85479;
}
.toolbarRisepic:hover ul .Searchimput input {
  background-color: #00000047;
}
.toolbarRisepic ul li input:hover,.toolbarRisepic ul li input:focus {
  color: #ffffff;
  background-color: #00000063;
  border: none !important;
}
.toolbarRisepic ul .Brandtoolbar {
  text-align: center;
}
.toolbarRisepic ul .Searchimput {
  text-align: left;
}
.toolbarRisepic ul li .brandsuntoolbar {
  width: 40px;
  height: 40px;
  display: inline-block;
}
body > header:hover {
  opacity: 1;
}
footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  overflow: hidden;
  z-index: 99;
}
footer:hover {
  height: 100px;
}
.u-picbox-s {
  width: 30px;
  height: 30px;
}
.u-picbox-xs {
  width: 20px;
  height: 20px;
}
.u-picbox-xl {
  width: 200px;
  height: 200px;
}
.c-picbox-xl {
  width: 200px;
  height: 200px;
}
.qbox {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 9;
}
.qbox-s {
  width: 28%;
  padding: 0 1%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.i-box-xxl {
  width: 50%;
  height: 480px;
  position: relative;
  display: inline-block;
  padding: 10px 0 10px 0.7%;
  vertical-align: top;

}
.i-box-xxl-2 {
  width: 49%;
  height: 238px;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;

}
.qbox-l {
  width: 70%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.qbox-prep-before {
  width: 40%;
  display: inline-block;
  /* @/* TODO:  */height: 100px;
  background-color: #ffffff;
  top: 420px;
  right: 0px;
  position: absolute;
}
.qbox-prep-out {
  width: 100%;
  display: inline-block;
  background-color: transparent;
  padding-top: 40px;
  height: 1px;
}
.qbox-prep-after {
  width: 40%;
  display: inline-block;
  background-color: #ffffff;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
  z-index: 11;
}
.qbox-prep-after:hover {
  opacity: 1;
}
.thetimelinepage {
  padding-top: 50px;
}
.vbox {
  display: inline-block;
  overflow: hidden;
  z-index: 9;
}
.vbox-m {
  width: 70%;
}
.vbox-l-view {
  width: 100%;
  margin-top: 50px;
}
.vbox-audio {
  width: 70%;
  height: 600px;
  margin-top: 50px;
}
.vbox-audio-m {
  width: 100%;
}
.c-resume-timeline {
  width: 100%;
  overflow: scroll;
  height: 500px;
  display: inline-block;
  /* @/* TODO:  */ background-color: #000000b3;
}
.typeofcontent {
  /* @/* TODO:  */ background-color: #ffffff;
}
.i-box-m .typeofcontent {
  font-size: 16px;
  padding: 7px;
  position: absolute;
  bottom: 50px;
  left: 0;
}
.i-box-s .typeofcontent {
  font-size: 13px;
  padding: 5px;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.i-box-s {
  width: 320px;
  height: 190px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.timeline-m .i-box-s {
  height: 150px;
  margin-top: 5px;
}
.timeline-m .i-box-s .typeofcontent {
  bottom: 0;
}
.i-box-s > img {
  width: 320px;
  height: 150px;
  display: inline;
}
.i-box-m {
  width: 430px;
  height: 250px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.timeline-m .i-box-m {
  height: 200px;
  margin-top: 5px;
}
.timeline-m .i-box-m .typeofcontent {
  bottom: 0;
}
.i-box-m > img {
  width: 430px;
  height: 200px;
  display: inline;
}
.i-box-xs {
  width: 212px;
  height: 170px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.l-box-s {
  width: 230px;
  height: 280px;
  /* @/* TODO:  */ background-color: #ffffff;
  display: inline-block;
}
.r-box-s {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #ffffff;
  /* @/* TODO:  */ color: #000000;
  display: inline-block;
}
.r-box-s-opened {
  padding: 50px;
  margin: 100px;
  font-size: 25px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #000000;
  /* @/* TODO:  */ color: #ffffff;
  display: inline-block;
}
.slidebox {
  display: inline-block;
  overflow: hidden;
  z-index: 9;
}
.slidebox img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.slidebox-m {
  width: 100%;
  height: 565px;
}
.sideinfobox {
  display: inline-block;
  z-index: 9;
}
.sideinfobox-m {
  width: 70%;
  /* @/* TODO:  */ height: 1000px;
}
.timeline {
  display: inline-block;
}
.timeline-m {
  z-index: 9;
  position: relative;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.timeline-XL {
  z-index: 10;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.profileboxinfo {
  display: inline-block;
  width: 100%;
}
.contentprewboxinfo {
  display: inline-block;
  width: 100%;
  position: relative;
}
.taskprewboxinfo {
  display: inline-block;
  width: 100%;
  position: relative;
}
.taskprewboxinfo-box {
  display: inline-block;
  padding: 80px 0 0 0;
  text-align: left;
  width: 60%;
  /* @/* TODO:  */ background-color: #ffffff;
}
.taskprewboxstart-box {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.profileboxinfo-box {
  display: block;
  padding: 80px 0 80px 0;
  margin: 0 auto;
  text-align: left;
}
.contentprewboxinfo-box {
  display: block;
  padding: 0px 0 80px 0;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 80px;
}
.p-username-m {
  font-size: 18px;
  padding: 5px;
  font-weight: bold;
}
.p-interactions {
  width: 100%;
  height: 20px;
  display: inline-block;
  text-align: center;
}
.p-experience-all {
  width: 100%;
  padding: 70px 0;
}
.p-experience-i {
  width: 100%;
  padding: 50px 0;
  display: inline-block;
 }
.p-experience-highlight {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-lists {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-roadmap {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-productions {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-tasks {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.p-experience-positions {
  display: block;
  padding: 50px 0;
  text-align: left;
  width: 100%;
}
.contentprewboxdesc-box {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  /* @/* TODO:  */ height: 500px;
}
.contentprewboxwhat-box {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
}
.contentprewboxtext-box {
  display: inline-block;
  vertical-align: top;
}
.timelineother {
  z-index: 15;
  position: relative;
  width: 100%;
  /* @/* TODO:  */ background-color: #ffffff;
}
.pageopenintimelinefancy {
  width: 100%;
  overflow: scroll;
  position: absolute;
  top: 50px;
  left: 0;
}
.pageopenintimelinefancy .qbox-prep-after {
  width: 30%;
  opacity: 1;
}
.pageopenintimelinefancy .vbox-l-view {
  width: 70%;
  margin-top: 0;
  height: 700px;
}
.taskprewboxinfo-box .vbox-l-view {
  width: 100%;
  margin-top: 0;
  height: 400px;
}

.pageopenintimelinefancy .prevtimelinebasicinfo {
  width: 65%;
  padding: 0.2% 2.5%;
}
.pageopenintimelinefancy .contentprewboxinfo-box {
  width: 65%;
  margin: 0;
  padding: 0.2% 2.5%;
}
.pageopenintimelinefancy .contentprewboxtext-box {
  width: 100%;
}
.pageopenintimelinefancy .contentprewboxtext-box > figure {
  display: none;
}
.pageopenintimelinefancy .contentprewboxwhat-box figure {
    height: 130px;
    padding-top: 0px;
    width: 25%;
}
.pageopenintimelinefancy .contentprewboxwhat-box {
    width: 100%;
}
.pageopenintimelinefancy .contentprewboxdesc-box {
  height: 1px;
}
.pageopenintimelinefancy .contentprewboxwhat-box p {
  padding-right: 16%;
  padding-left: 3%;
}
.pageopenintimelinefancy .requirementsprewpage {
  width: 35%;
  padding: 0px 4% 40px 4%;
  display: inline-block;
  text-align: left;
}
.pageopenintimelinefancy .purposesprewpage {
  width: 35%;
  padding: 0px 4% 40px 4%;
  display: inline-block;
  text-align: left;
}
.pageopenintimelinefancy .requirementsprewpage li {
  color: #484848;
  list-style: circle;
  font-size: 17px;
  padding: 3px;
}
.pageopenintimelinefancy .requirementsprewpage p {
  color: #000000;
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}
.pageopenintimelinefancy .purposesprewpage li {
  color: #484848;
  list-style: circle;
  font-size: 17px;
  padding: 3px;
}
.pageopenintimelinefancy .purposesprewpage p {
  color: #000000;
  font-size: 21px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}
.pageopenintimelinefancytop {
  z-index: 27;
}
.pageopenintimelinefancyfirst {
  z-index: 25;
}
.pageopenintimelinefancy .Whaitbutwhy {
  width: 100%;
  text-align: center;
}
.pageopenintimelinefancy .i-box-s {
  vertical-align: baseline;
}
.contentprewboxinfo-box-kindsofTITLE {
  font-size: 23px;
  font-weight: bold;
  padding: 10px 3px;
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
}
.contentprewboxwhat-box .TAGPREWWATHC {
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 2px;
    background-color: #000000;
    color: #ffffff;
}
.CLOSETIMELINEOBJECT {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 50px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}
.creatorlinkOBJ2 {
  height: 20px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  right: 30%;
  top: 50px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  z-index: 30;
}
.projectheader2 {
  height: 20px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  left: 20px;
  top: 50px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  z-index: 30;
}
.resumeothercontents {
  width: 49%;
  padding: 0;
  display: inline-block;
  padding: 10px 0% 6px 0%;;
}
.timelineother .i-box-s {
  vertical-align: baseline;
}


footer .FOOTBACK {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.FOOTER > .FOOTBACK div {
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.FOOTER > .FOOTBACK div a {
  width: 10%;
  padding: 5px 5%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  float: left;
}
.qbox-chat {
  width: 90%;
  height: 85%;
  padding: 5% 5% 10% 5%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.qbox-chat header {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.question {
  padding: 10px 0;
}
.question .q-info {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 84%;
}
.question .q-who {
  font-size: 11px;
  font-weight: bold;
}
.question .q-when {
  font-size: 9px;
  margin-bottom: 7px;
}
.question figure {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
.question h6 {
  font-weight: bold;
}
.question p {
  font-size: 16px;
}
.question .answer {
  padding: 5px 0 0 8%;
  width: 90%;
}
.ratingdescription {
  font-size: 11px !important;
  padding-top: 5px;
}
.question .answer .q-info {
  display: inline-block;
  margin-left: 5px;
  width: 80%;
}
.question .answer .q-info span {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-size: 10px;
}
.question .positivefeed {
  color: #0eb50f;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  font-size: 8px;
  padding-left: 10px;
}
.question .answer .q-who {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  display: inline-block;
}
.question .answer .q-when {
  font-size: 8px;
  margin-bottom: 7px;
}
.question .answer figure {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.question .answer .openmoreanswers {
  padding-top: 10px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  font-size: 8px;
  margin: 0 auto;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.question .answer p {
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
.profileboxinfo-box header{
  padding-right: 10px;
  display: inline-block;
}
.profileboxinfo-box aside {
  display: inline-block;
  /* @/* TODO:  */ height: 250px;
  /* @/* TODO:  */ background-color: #ffffff;
}
.profileboxinfo-box figure {
  display: inline-block;
  width: 230px;
  height: 230px;
  float: left;
}

.profileboxinfo-box h1 {
  display: inline;
  vertical-align: top;
}

.profileboxinfo-box .p-bio {
  display: inline;
  font-size: 14px;
  vertical-align: bottom;
}
.p-social {
  height: 25px;
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-top: 15px;
}
.p-social > a {
  width: 25px;
  height: 25px;
  display: inline-block;
  /* @/* TODO:  */ background-color: #ffffff;
}
.p-interactions > a {
  display: inline-block;
  padding: 5px 0;
  width: 20%;
  margin: 0 1%;
  font-size: 12px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #ffffff;
  /* @/* TODO:  */ color: #000000;
}
.p-experience-all h2 {
  padding: 20px 60px;
  display: inline-block;
}
.p-experience-all h3 {
  padding: 5px 10px;
  display: inline-block;
}
.contentprewboxinfo-box figure {
  display: inline-block;
  position: relative;
}
.contentprewboxinfo-box figure .SpecialTitleFancy {
  position: absolute;
  top: 60%;
  left: 10px;
  z-index: 10;
  padding: 10px;
  /* @/* TODO:  */ background-color: #00000066;
  /* @/* TODO:  */ color: #ffffff;
}
.contentprewboxdesc-box aside {
  display: inline-block;
  width: 100%;
}
.contentprewboxwhat-box figure {
  width: 35%;
  height: 120px;
  vertical-align: top;
  padding-top: 20px;
}
.contentprewboxwhat-box p {
  display: inline-block;
  width: 50%;
  padding-top: 20px;
  padding-right: 5%;
  font-size: 13px;
  line-height: 1.2;
}
.contentprewboxwhat-box span {
  display: inline;
  font-size: 13px;
}
.booksubchapters {
  display: inline-block;
  width: 50%;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 8%;
}
.booksubchapter {
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
  list-style: decimal-leading-zero;
  padding-bottom: 18px;
}
.booksubchapter span {
  font-size: 11px;
  font-weight: normal;
}
.contentprewboxwhat-box h3 {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}
.contentprewboxwhat-box figure img {
  width: 100%;
  height: 100%;
}
.contentprewboxinfo-box-kindsof {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.contentprewboxinfo-box-kindsof span {
  font-size: 18px;
  font-weight: lighter;
}
.contentprewboxinfo-box-kindsofdesc {
  font-size: 16px;
  padding: 3px;
  line-height: 1.2;
}
.contentprewboxinfo-box-kindsofACTIONS {
  text-align: center;
}
.PREVBTNBUY {
  display: inline-block;
  padding: 3% 15%;
  background-color: #ffd800;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.scrollinfoqaview .PREVBTNBUY {
  padding: 15px 0;
  width: 20%;
  margin: 0;
  display: inline-block;
}
.PREVBTNADD {
  display: inline-block;
  padding: 3% 15%;
  background-color: #0eb50f;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.scrollinfoqaview .PREVBTNADD {
  padding: 15px 0;
  width: 20%;
  margin: 0;
  display: inline-block;
}
.qbox-prep-after .scrollinfoqaview {
  padding-top: 50px;
}
.scrollinfoqaview{
  width: 100%;
  display: inline-block;
}
.qbox-prep-before .scrollinfoqaview {
  padding-bottom: 30px;
}
.qbox-prep-before .PREVBTNADD, .qbox-prep-before .PREVBTNBUY {
  width: 30%;
  margin: 10px;
}
.PREVBTNADDTITLE {
  width: 60%;
  font-size: 15px;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
}
.qbox-prep-before .PREVBTNADDTITLE {
  display: none;
}
.pageopenintimelinefancy .qbox-chat {
    margin-top: 95px;
    height: 80%;
    width: 85%;
    padding: 5% 7% 10% 7%;
}
.pageopenintimelinefancy .scrollinfoqaview {
    width: 100%;
    display: inline-block;
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
    z-index: 20;
}

.pageopenintimelinefancy .timeline-m {
  padding-top: 70px;
}
.i-box-xxl > img {
  width: 100%;
  height: 100%;
}
.i-box-xxl h3 {
  font-size: 25px;
  position: absolute;
  top: 30px;
  background-color: #e6e7e9;
  color: #000000;
  padding: 10px 12px;
  left: 20px;
}
.i-box-xxl-2 > img {
  width: 100%;
  height: 100%;
}
.i-box-xxl-2 h3 {
  font-size: 13px;
  position: absolute;
  top: 25px;
  background-color: #e6e7e9;
  color: #000000;
  padding: 5px 6px;
  left: 10px;
}
.i-box-xxl .resumeplay-l {
  position: absolute;
  top: 230px;
  left: 48%;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}
.i-box-xxl-2 .resumeplay-l {
  position: absolute;
  top: 100px;
  left: 40%;
  padding: 6px 10px;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
}
.pageopenintimelinefancy .timeline-m .i-box-xs,
.pageopenintimelinefancy .timeline-m .i-box-s {
  /* @/* TODO:  */ background-color: #e1e1e1 !important;
}
.thetimelinepage .timeline-XL .i-box-xs,
.thetimelinepage .timeline-XL .i-box-s,
.thetimelinepage .timeline-XL .i-box-m {
  margin: 5px 2px;
  display: inline-block;
}
.c-suggestion-otherfrom {
  width: 95%;
  display: inline-block;
  padding-top: 70px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.thetimelinepage .timeline-XL {
  background-color: transparent !important;
  text-align: center;
  padding-top: 30px;
}
.ALPHAWELLCOME {
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  position: absolute;
  z-index: 10000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ALPHAWELLCOME h5 {
  font-size: 70px;
  padding-top: 5%;
  color: #ffffff;
  z-index: 3;
}
.ALPHAWELLCOME h5 span {
  color: #FFFF00;
  font-weight: bold;
  z-index: 3;
}
.ALPHAWELLCOME p {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  z-index: 3;
}
.ALPHAWELLCOME a {
  padding: 10px 30px;
  font-size: 30px;
  background-color: #FFFF00;
  color: #000000;
  margin-top: 100px;
  display: inline-block;
}
.ALPHAWELLCOME article {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  z-index: 3;
  text-align: center;
}
.ALPHAWELLCOME a:hover {
  background-color: #ffffff;
  font-weight: bold;
}
.ALPHAWELLCOME .spaceinvaders {
  background-color: #535154; width: 100%; min-height: 100%;position: fixed; top: 0px; left: 0px; bottom: 0px;right: 0px; display: block;
}
@media screen and (min-width: 0px) {
  .profileboxinfo-box {
    width: 800px;
  }
  .contentprewboxinfo-box {
    width: 800px;
  }
  .contentprewboxtext-box {
    width: 400px;
  }
  .profileboxinfo-box header{
    width: 500px;
  }
  .profileboxinfo-box aside {
    width: 300px;
  }
  .timeline-m {
    width: 800px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 900px;
  }
  .contentprewboxinfo-box > figure {
    width: 400px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 25px;
  }
  .i-picbox-xl {
    width: 400px;
    height: 250px;
  }
  .contentprewboxdesc-box {
    width: 340px;
    padding-left: 50px;
  }
  .contentprewboxdesc-box {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) and (max-width:1429px) {
  .profileboxinfo-box {
    width: 990px;
  }
  .contentprewboxinfo-box {
    width: 990px;
  }
  .contentprewboxtext-box {
    width: 500px;
  }
  .profileboxinfo-box header{
    width: 640px;
  }
  .timeline-m {
    width: 990px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 1100px;
  }
  .profileboxinfo-box aside {
    width: 540px;
  }
  .contentprewboxinfo-box > figure {
    width: 500px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 35px;
  }
  .i-picbox-xl {
    width: 500px;
    height: 300px;
  }
  .contentprewboxdesc-box {
    width: 440px;
  }
  .contentprewboxwhat-box {
    width: 500px;
  }
}
@media screen and (min-width: 1430px) {
  .profileboxinfo-box {
    width: 1200px;
  }
  .contentprewboxinfo-box {
    width: 1200px;
  }
  .contentprewboxtext-box {
    width: 700px;
  }
  .profileboxinfo-box header{
    width: 640px;
  }
  .timeline-m {
    width: 1200px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 1300px;
  }
  .profileboxinfo-box aside {
    width: 540px;
  }
  .contentprewboxinfo-box > figure {
    width: 700px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 45px;
  }
  .i-picbox-xl {
    width: 700px;
    height: 400px;
  }
  .contentprewboxdesc-box {
    width: 450px;
    padding-left: 40px;
  }
  .contentprewboxwhat-box {
    width: 700px;
  }
}
