html{height: 100%}


button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }



label{display: block}
h1{ color: #c4dc53; }

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn-images-1.medium.com/max/1000/1*TRG5GER7Ml49_ryIZiWhsQ.png')
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    margin: 0;
}

ul a{
   color: #bfd750;
}

ul{
    color: black;
}

.panel{
    display: none;
    max-width: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.linkpanel {
    color: blue;
    cursor: pointer;
    margin-top: 40px;
    color: #a99546;
}
