
footer .FOOTBACK {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.FOOTER > .FOOTBACK div {
  width: 100%;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.FOOTER > .FOOTBACK div a {
  width: 10%;
  padding: 5px 5%;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  float: left;
}
.qbox-chat {
  width: 90%;
  height: 85%;
  padding: 5% 5% 10% 5%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: inline-block;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
}
.qbox-chat header {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.question {
  padding: 10px 0;
}
.question .q-info {
  display: inline-block;
  margin-left: 5px;
}
.question .q-who {
  font-size: 11px;
  font-weight: bold;
}
.question .q-when {
  font-size: 9px;
  margin-bottom: 7px;
}
.question figure {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}
.question h6 {
  font-weight: bold;
}
.profileboxinfo-box header{
  padding-right: 10px;
  display: inline-block;
}
.profileboxinfo-box aside {
  display: inline-block;
  /* @/* TODO:  */ height: 250px;
  /* @/* TODO:  */ background-color: #ffffff;
}
.profileboxinfo-box figure {
  display: inline-block;
  width: 230px;
  height: 230px;
  float: left;
}

.profileboxinfo-box h1 {
  display: inline;
  vertical-align: top;
}

.profileboxinfo-box .p-bio {
  display: inline;
  font-size: 14px;
  vertical-align: bottom;
}
.p-social {
  height: 25px;
  display: inline-block;
  text-align: left;
  width: 400px;
  margin-top: 15px;
}
.p-social > a {
  width: 25px;
  height: 25px;
  display: inline-block;
  /* @/* TODO:  */ background-color: #ffffff;
}
.p-interactions > a {
  display: inline-block;
  padding: 5px 0;
  width: 20%;
  margin: 0 1%;
  font-size: 12px;
  font-weight: bold;
  /* @/* TODO:  */ background-color: #ffffff;
  /* @/* TODO:  */ color: #000000;
}
.p-experience-all h2 {
  padding: 20px 60px;
  display: inline-block;
}
.p-experience-all h3 {
  padding: 5px 10px;
  display: inline-block;
}
.contentprewboxinfo-box figure {
  display: inline-block;
  position: relative;
}
.contentprewboxinfo-box figure .SpecialTitleFancy {
  position: absolute;
  top: 60%;
  left: 10px;
  z-index: 10;
  padding: 10px;
  /* @/* TODO:  */ background-color: #00000066;
  /* @/* TODO:  */ color: #ffffff;
}
.contentprewboxdesc-box aside {
  display: inline-block;
  width: 100%;
}
.contentprewboxwhat-box figure {
  width: 35%;
  height: 120px;
  vertical-align: top;
  padding-top: 20px;
}
.contentprewboxwhat-box p {
  display: inline-block;
  width: 50%;
  padding-top: 20px;
  padding-right: 5%;
  font-size: 13px;
  line-height: 1.2;
}
.contentprewboxwhat-box span {
  display: inline;
  font-size: 13px;
}
.contentprewboxwhat-box h3 {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}
.contentprewboxwhat-box figure img {
  width: 100%;
  height: 100%;
}
.contentprewboxinfo-box-kindsof {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.contentprewboxinfo-box-kindsof span {
  font-size: 18px;
  font-weight: lighter;
}
.contentprewboxinfo-box-kindsofdesc {
  font-size: 16px;
  padding: 3px;
  line-height: 1.2;
}
.contentprewboxinfo-box-kindsofACTIONS {
  text-align: center;
}
.PREVBTNBUY {
  display: inline-block;
  padding: 3% 15%;
  background-color: #ffd800;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.scrollinfoqaview .PREVBTNBUY {
  padding: 15px 0;
  width: 20%;
  margin: 0;
  display: inline-block;
}
.PREVBTNADD {
  display: inline-block;
  padding: 3% 15%;
  background-color: #0eb50f;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.scrollinfoqaview .PREVBTNADD {
  padding: 15px 0;
  width: 20%;
  margin: 0;
  display: inline-block;
}
.qbox-prep-after .scrollinfoqaview {
  padding-top: 50px;
}
.scrollinfoqaview{
  width: 100%;
  display: inline-block;
}
.qbox-prep-before .scrollinfoqaview {
  padding-bottom: 30px;
}
.qbox-prep-before .PREVBTNADD, .qbox-prep-before .PREVBTNBUY {
  width: 30%;
  margin: 10px;
}
.PREVBTNADDTITLE {
  width: 60%;
  font-size: 15px;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
}
.qbox-prep-before .PREVBTNADDTITLE {
  display: none;
}
.pageopenintimelinefancy .qbox-chat {
    margin-top: 95px;
    height: 70%;
    width: 85%;
    padding: 5% 7% 10% 7%;
}
.pageopenintimelinefancy .scrollinfoqaview {
    width: 100%;
    display: inline-block;
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
}

.pageopenintimelinefancy .timeline-m {
  padding-top: 70px;
}
.pageopenintimelinefancy .timeline-m .i-box-xs,
.pageopenintimelinefancy .timeline-m .i-box-s {
  /* @/* TODO:  */ background-color: #e1e1e1 !important;
}
.c-suggestion-otherfrom {
  width: 95%;
  display: inline-block;
  padding-top: 70px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
@media screen and (min-width: 0px) {
  .profileboxinfo-box {
    width: 800px;
  }
  .contentprewboxinfo-box {
    width: 800px;
  }
  .contentprewboxtext-box {
    width: 400px;
  }
  .profileboxinfo-box header{
    width: 500px;
  }
  .profileboxinfo-box aside {
    width: 300px;
  }
  .timeline-m {
    width: 800px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 900px;
  }
  .contentprewboxinfo-box > figure {
    width: 400px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 25px;
  }
  .i-picbox-xl {
    width: 400px;
    height: 250px;
  }
  .contentprewboxdesc-box {
    width: 340px;
    padding-left: 50px;
  }
  .contentprewboxdesc-box {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) and (max-width:1429px) {
  .profileboxinfo-box {
    width: 990px;
  }
  .contentprewboxinfo-box {
    width: 990px;
  }
  .contentprewboxtext-box {
    width: 500px;
  }
  .profileboxinfo-box header{
    width: 640px;
  }
  .timeline-m {
    width: 990px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 1100px;
  }
  .profileboxinfo-box aside {
    width: 540px;
  }
  .contentprewboxinfo-box > figure {
    width: 500px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 35px;
  }
  .i-picbox-xl {
    width: 500px;
    height: 300px;
  }
  .contentprewboxdesc-box {
    width: 440px;
  }
  .contentprewboxwhat-box {
    width: 500px;
  }
}
@media screen and (min-width: 1430px) {
  .profileboxinfo-box {
    width: 1200px;
  }
  .contentprewboxinfo-box {
    width: 1200px;
  }
  .contentprewboxtext-box {
    width: 700px;
  }
  .profileboxinfo-box header{
    width: 640px;
  }
  .timeline-m {
    width: 1200px;
  }
  .pageopenintimelinefancy .timeline-m {
    width: 1300px;
  }
  .profileboxinfo-box aside {
    width: 540px;
  }
  .contentprewboxinfo-box > figure {
    width: 700px;
  }
  .contentprewboxinfo-box figure .SpecialTitleFancy {
    font-size: 45px;
  }
  .i-picbox-xl {
    width: 700px;
    height: 400px;
  }
  .contentprewboxdesc-box {
    width: 450px;
    padding-left: 40px;
  }
  .contentprewboxwhat-box {
    width: 700px;
  }
}
