html, body {
  background-color: #ebeced;
}
body > header {
  background-color: #ffffff;
}
.qbox {background-color: #ffffff;}

.qbox-chat .q-who {
  color: #000000;
}
.qbox-chat .q-when {
  color: #a0a0a0;
}
.question h6 {
  color: #000000;
}
.sideinfobox {
  background-color: #ebeced;
}
.timeline-XL {
  background-color: #ffffff;
}
.profileboxinfo-box .u-bio {
  color: #ebeced;
}
.profileboxinfo {
  background-color: #333333;
}
.profileboxinfo-box h1 {
  color: #ffffff;
}
.profileboxinfo-box .p-bio {
  color: #bfbfbf;
}
.profileboxinfo-box .p-username-m {
  color: #ebeced;
}
.p-experience-all h2 {
  background-color: #FFFF00;
}
